extends header

block content

    mail = user.mail
    name = user.name

    h1 Confirm
    p 以上の内容でよろしいですか？
    form(action='/confirm.html',method='POST')
        //button(name='confirm', type='submit', value=true) はい
        input(name='user[mail]', type='text', value=mail, readonly='readonly')
        input(name='user[name]', type='text', value=name, readonly='readonly')
        input(type='submit', value='はい')
    form(action='/register.html',method='GET')
        button(name=false, type='submit', value=false) いいえ
